# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# env
.env

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn.lock
yarn-debug.log*
yarn-error.log*

# --- Terraform ---
/terraform/.terraform/
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/.terraform.lock.hcl
/terraform/terraform.tfvars
/terraform/*.tfplan
/terraform/crash.log
/terraform/.terraform.tfstate*
/terraform/backend.tf

# --- Ansible ---
/ansible/.ansible.cfg
/ansible/inventory.ini
/ansible/.vscode/
/ansible/*.retry
/ansible/roles/*/files/secret*